In [1]:
import numpy as np
import pandas as pd

In [3]:
recordsIn = pd.read_csv('Austin_Animal_Center_Intakes.csv', encoding='latin-1')
recordsOut = pd.read_csv('Austin_Animal_Center_Outcomes.csv', encoding='latin-1')

In [6]:
recordsIn.shape

(96397, 12)

In [7]:
recordsOut.shape

(96452, 12)

In [8]:
recordsIn.head()

,Animal ID,Name,DateTime,MonthYear,Found Location,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,Border Collie Mix,Brown/White

In [9]:
recordsOut.head()

,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,A790184,NaN,03/06/2019 10:56:00 AM,03/06/2019 10:56:00 AM,03/06/2017,Euthanasia,Rabies Risk,Other,Unknown,NaN,Raccoon Mix,Gray
1,A790180,NaN,03/06/2019 10:04:00 AM,03/06/2019 10:04:00 AM,03/06/2017,Euthanasia,Rabies Risk,Other,Unknown,NaN,Skunk Mix,Black/White
2,A790169,NaN,03/06/2019 09:55:00 AM,03/06/2019 09:55:00 AM,03/05/1998,Euthanasia,Rabies Risk,Other,Unknown,NaN,Bat Mix,Brown
3,A790113,NaN,03/06/2019 09:12:00 AM,03/06/2019 09:12:00 AM,03/05/2017,Euthanasia,Suffering,Other,Unknown,2 years,Raccoon Mix,Brown/Black
4,A788690,NaN,03/06/2019 09:11:00 AM,03/06/2019 09:11:00 AM,02/06/2017,Disposal,NaN,Cat,Intact Female,2 years,Domestic Shorthair,Calico

In [16]:
records = recordsIn.merge(recordsOut, on='Animal ID', how = 'inner', suffixes=('_In', '_Out'))

In [17]:
records.head()

,Animal ID,Name_In,DateTime_In,MonthYear_In,Found Location,Intake Type,Intake Condition,Animal Type_In,Sex upon Intake,Age upon Intake,...,DateTime_Out,MonthYear_Out,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_Out,Sex upon Outcome,Age upon Outcome,Breed_Out,Color_Out
0,A748291,*Madison,05/01/2017 02:26:00 PM,05/01/2017 02:26:00 PM,S Pleasant Valley Rd And E Riverside Dr in Aus...,Stray,Normal,Dog,Intact Female,10 months,...,09/04/2017 12:00:00 AM,09/04/2017 12:00:00 AM,06/01/2016,Transfer,Partner,Dog,Spayed Female,1 year,Pit Bull Mix,Black
1,A750529,NaN,05/28/2017 01:22:00 PM,05/28/2017 01:22:00 PM,8312 North Ih 35 in Austin (TX),Stray,Normal,Dog,Intact Female,5 months,...,06/01/2017 04:42:00 PM,06/01/2017 04:42:00 PM,12/21/2016,Transfer,Partner,Dog,Spayed Female,5 months,Miniature Schnauzer Mix,White/Cream
2,A730601,NaN,07/07/2016 12:11:00 PM,07/07/2016 12:11:00 PM,1109 Shady Ln in Austin (TX),Stray,Normal,Cat,Intact Male,7 months,...,07/08/2016 09:00:00 AM,07/08/2016 09:00:00 AM,12/07/2015,Transfer,SCRP,Cat,Neutered Male,7 months,Domestic Shorthair Mix,Blue Tabby
3,A748238,NaN,05/01/2017 10:53:00 AM,05/01/2017 10:53:00 AM,Airport Blvd And Oak Springs Dr in Austin (TX),Stray,Normal,Dog,Intact Male,3 years,...,05/06/2017 03:57:00 PM,05/06/2017 03:57:00 PM,05/01/2014,Transfer,Partner,Dog,Neutered Male,3 years,Bichon Frise Mix,White
4,A683644,*Zoey,07/13/2014 11:02:00 AM,07/13/2014 11:02:00 AM,Austin (TX),Owner Surrender,Nursing,Dog,Intact Female,4 weeks,...,11/06/2014 10:06:00 AM,11/06/2014 10:06:00 AM,06/13/2014,Adoption,Foster,Dog,Spayed Female,4 months,Border Collie Mix,Brown/White

In [19]:
records.shape

(122748, 23)

In [21]:
records.to_csv('records.csv')