In [1]:
import numpy as np
import pandas as pd

In [2]:
recordsIn = pd.read_csv('MergedStrayCatDog_LatLong_2018.csv', encoding='latin-1')
recordsOut = pd.read_csv('Austin_Animal_Center_Outcomes.csv', encoding='latin-1')
#recordsOut = recordsOut[recordsOut["Outcome Type"] != 'Return to Owner']

In [3]:
recordsIn.shape

(11208, 20)

In [4]:
recordsOut.shape

(97695, 13)

In [5]:
recordsIn.head()

,Unnamed: 0,index,Unnamed: 0.1,Animal ID,Name,DateTime,MonthYear,Intake Type,Intake Condition,Animal Type,Sex upon Intake,Age upon Intake,Breed,Color,Address,City,State,Address.1,Latitude,Longitude
0,0,0,13,A773634,Augie,2018-06-03 15:26:00,06/03/2018 03:26:00 PM,Stray,Normal,Dog,Intact Male,10 years,Dachshund Mix,Red,Braker And Ih35,Austin,TX,Braker And Ih35 Austin TX,30.377715,-97.676367
1,1,1,19,A782291,NaN,2018-10-13 10:59:00,10/13/2018 10:59:00 AM,Stray,Normal,Dog,Intact Female,2 years,Labrador Retriever Mix,Yellow,127 North Webberville Road,Travis,TX,127 North Webberville Road Travis TX,30.276051,-97.688846
2,2,2,23,A782085,Luna,2018-10-10 13:21:00,10/10/2018 01:21:00 PM,Stray,Normal,Dog,Intact Female,1 month,Black Mouth Cur Mix,Brown/Black,6405 South Ih 35 Frontage Road,Austin,TX,6405 South Ih 35 Frontage Road Austin TX,30.191424,-97.767135
3,3,3,38,A783925,NaN,2018-11-08 17:56:00,11/08/2018 05:56:00 PM,Stray,Normal,Dog,Intact Female,1 year,Pit Bull,White/Black,2303 Wagon Grossing Path,Austin,TX,2303 Wagon Grossing Path Austin TX,30.192119,-97.755867
4,4,4,46,A768476,*Fialla,2018-03-20 10:57:00,03/20/2018 10:57:00 AM,Stray,Normal,Dog,Intact Female,2 years,Smooth Fox Terrier Mix,White/Tricolor,22718 Big Sandy Drive,Travis,TX,22718 Big Sandy Drive Travis TX,30.570514,-97.949694

In [6]:
recordsIn = recordsIn.drop(['Unnamed: 0', 'index', 'Unnamed: 0.1', 'MonthYear'],axis = 1)

In [7]:
recordsOut.head()

,Unnamed: 0,Animal ID,Name,DateTime,MonthYear,Date of Birth,Outcome Type,Outcome Subtype,Animal Type,Sex upon Outcome,Age upon Outcome,Breed,Color
0,0,A789775,*Precious,03/31/2019 09:46:00 PM,03/31/2019 09:46:00 PM,02/27/2017,Adoption,NaN,Dog,Spayed Female,2 years,Pit Bull Mix,White
1,1,A791176,*Two Soc,03/31/2019 07:13:00 PM,03/31/2019 07:13:00 PM,05/29/2018,Adoption,NaN,Cat,Spayed Female,10 months,Domestic Shorthair Mix,Brown Tabby/White
2,2,A791197,Ermac,03/31/2019 06:54:00 PM,03/31/2019 06:54:00 PM,05/01/2011,Adoption,NaN,Cat,Neutered Male,7 years,Domestic Shorthair Mix,Orange Tabby
3,3,A791498,Pete,03/31/2019 06:53:00 PM,03/31/2019 06:53:00 PM,06/26/2018,Adoption,NaN,Dog,Neutered Male,9 months,German Shepherd Mix,Black/Tan
4,4,A791293,*Gobi,03/31/2019 06:51:00 PM,03/31/2019 06:51:00 PM,03/24/2018,Adoption,NaN,Dog,Neutered Male,1 year,Pit Bull Mix,Fawn

In [8]:
recordsOut = recordsOut.drop(['Unnamed: 0', 'MonthYear', 'Breed', 'Color'],axis = 1)

In [9]:
records = recordsIn.merge(recordsOut, on='Animal ID', how = 'inner', suffixes=('_In', '_Out'))

In [10]:
records.head()

,Animal ID,Name_In,DateTime_In,Intake Type,Intake Condition,Animal Type_In,Sex upon Intake,Age upon Intake,Breed,Color,...,Latitude,Longitude,Name_Out,DateTime_Out,Date of Birth,Outcome Type,Outcome Subtype,Animal Type_Out,Sex upon Outcome,Age upon Outcome
0,A773634,Augie,2018-06-03 15:26:00,Stray,Normal,Dog,Intact Male,10 years,Dachshund Mix,Red,...,30.377715,-97.676367,Augie,06/05/2018 11:39:00 AM,06/05/2008,Return to Owner,NaN,Dog,Intact Male,10 years
1,A782291,NaN,2018-10-13 10:59:00,Stray,Normal,Dog,Intact Female,2 years,Labrador Retriever Mix,Yellow,...,30.276051,-97.688846,NaN,10/17/2018 04:13:00 PM,10/13/2016,Adoption,NaN,Dog,Spayed Female,2 years
2,A782085,Luna,2018-10-10 13:21:00,Stray,Normal,Dog,Intact Female,1 month,Black Mouth Cur Mix,Brown/Black,...,30.191424,-97.767135,Luna,10/14/2018 05:02:00 PM,08/10/2018,Adoption,NaN,Dog,Spayed Female,2 months
3,A783925,NaN,2018-11-08 17:56:00,Stray,Normal,Dog,Intact Female,1 year,Pit Bull,White/Black,...,30.192119,-97.755867,NaN,11/12/2018 04:04:00 PM,11/08/2017,Transfer,Partner,Dog,Intact Female,1 year
4,A768476,*Fialla,2018-03-20 10:57:00,Stray,Normal,Dog,Intact Female,2 years,Smooth Fox Terrier Mix,White/Tricolor,...,30.570514,-97.949694,*Fialla,03/27/2018 02:16:00 PM,03/20/2016,Transfer,Partner,Dog,Intact Female,2 years

In [11]:
records.shape

(13613, 24)

In [12]:
records = records.drop_duplicates(subset = 'Animal ID', keep = 'first')
records.shape

(10794, 24)

In [13]:
records.to_csv('stray-merged.csv')